@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

img{
  width: 100%;
  height: auto;
}


#start{
  color:#000000;
  font-size: 40px;
  padding: 20px;
  border:0px;
  border-radius: 52px;
  background: linear-gradient(145deg, #b4c7c9, #d6ecef);
  box-shadow:  25px 25px 50px #505859,
               -25px -25px 50px #ffffff;
}
#start:hover{
  background-color:#c53232;
  cursor: pointer;
  color:rgb(51, 51, 51);
  font-size: 35px;
}
.nano{
  border:0px;
  font-size: 30px;
  padding: 10px;
  border-radius: 52px;
  background: linear-gradient(145deg, #b4c7c9, #d6ecef);
  box-shadow:  25px 25px 50px #505859,
               -25px -25px 50px #ffffff;
}
.nano:hover{
  background-color:#1fb5b5;
  cursor: pointer;
  color:rgb(51, 51, 51);
  font-size: 35px;
}


*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Luckiest Guy', cursive;
  background-color: #E6E6EA;
}
