@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

img{
    width: 100%;
    height: auto;
}

*{
    padding: 0;
    margin: 0;
}

.container{
    width: 95%;
    margin: auto;
}

body{
    font-family: 'Luckiest Guy', cursive;
    background-color: #E6E6EA;
}

header{
    background: #FE4A49;
}

.container{
    width: 95%;
    margin: auto;
}

.nav{
    overflow: hidden;
    background:#FE4A49;
    color: #fff;
    padding-bottom: 10px;
}

.nav h2{
    font-size: 2rem;
    float: left;
}

nav{
    float: right;
}

nav ul{
    list-style-type: none;
}

nav li{
    font-size: 1.3rem;
    margin-top: 5px;
    float: left;
    padding: 0 15px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

.current a::after{
    content: '-';
    font-size: 4px;
    background-color: white;
    display: block;
}

.wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 82% 18%;
}

#equation{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
    font-size: 5.2vw;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    margin: 10px 10px 0px 10px;
}

#equation h1{
    display: inline;
    padding: 20px;
}

.answer-options{
    font-size: 5.2vw;
    margin-right: 10px;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    transition: 2s;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}

#score{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    font-size: 24px;
}

.button{
    text-align: center;
    font-size:50px;
    padding: 20px;
    color:white;
    background-color: #10cdcd;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.button:hover{
    background-color:#06dfdf;
    cursor: pointer;
    color:white;
}

.timer {
    float: left;
    margin-left: 10px;
}

#play-again{
    text-decoration: none;
    margin: 10px;
    text-align: center;
    font-size:30px;
    padding: 20px;
    color:white;
    background-color: red;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    margin-left: 1300px;
}

#play-again:hover{
    background-color: rgb(30, 255, 30);
    cursor: pointer;
    color:white;
}

#message {
    position: fixed;
    top: 750px;
    left: 700px;
    width: auto;
    color: peru;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
}

#play-again{
    text-decoration: none;
    margin: 10px;
    text-align: center;
    font-size:30px;
    padding: 20px;
    color:white;
    background-color: red;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    margin-left: 160px;
    margin-right: 25px;
}

#play-again:hover{
    background-color: rgb(30, 255, 30);
    cursor: pointer;
    color:white;
}
